.navbar{
background-color: #F28775;
}
.jumbotron{
    background-image: url(./images/ima_portada.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    color: #ffffff;
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotron p{
    font-size: 24px;
    color: #F9F6E4;
}
h2{
    text-align: center;
    background-color: #F9D9C0;
    color: #F28775;
    padding: 10px;
    margin-bottom: 0;
}
.aboutme{
    height: 800px;
    width: 100%;
    background: #F28775;
    margin-bottom: 0;
    margin-top: 0;
}
.row{
    height: 800px;
}
.afoto{
background-image: url(./images/Foto\ ilse.jpg);
background-size: cover;
}
.atexto{
    text-align: center;
    padding: 150px;
    font-size: 24px;
    color: #F9F6E4;
}
.carousel-inner{
    position: center;
    padding: 40px;
    text-align: center;
}
.footer{
    height: 100px;
    background-color: #F28775;
    width: 100%;
    margin-bottom: 0;
    display:inline;
    text-align: center;
    color: #ffffff;
}
.jumbotronpod{
    background-image: url(./images/podcast.png);
    background-size: cover;
    background-position: center;
    height: 550px;
    color: #ffffff;
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotronpod p{
    font-size: 24px;
    color: #F28775;
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}